@tailwind preflight
@tailwind components

.content {
    max-width: 820px;
}

.sidebar {
    background-color: #f5f5f5;
}

.content table tr,
.content table td {
    border: 0;
}

@tailwind utilities

.bg-transparent {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z' fill='%23ddd' fill-opacity='.4'/%3E%3C/svg%3E")
}