@import "node_modules/tailwindcss/preflight.css"
@import "node_modules/tailwindcss/components.css"

@import "./styles/components/vuepress.css"

@import "node_modules/tailwindcss/utilities.css"

@import "./styles/utilities/bg.css"